@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #877eff;
  --secondary: #ffb620;
  --dark-1: #000000;
  --dark-2: #09090a;
  --dark-3: #101012;
  --dark-4: #1f1f22;
  --light-1: #ffffff;
  --light-2: #efefef;
  --light-3: #7878a3;
  --light-4: #5c5c7b;
  --gradient: linear-gradient(180deg, #877eff 0%, #685dff 46.15%, #3121ff 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--light-1);
  background: var(--dark-1);
  font-family: Arial, Helvetica, sans-serif;
}
.explore-search {
  @apply h-12 bg-dark_4 border-none placeholder:text-light_4 focus-visible:ring-0 focus-visible:ring-offset-0 ring-offset-0 !important;
}
.title {
  @apply text-[24px] font-bold  !important;
}
.custom-button{
  @apply bg-dark_2 py-[12px] px-[50px];
  
}
.custom-button:hover {
  opacity: .8;
}

.icon-add-post {
  position: fixed;
  bottom: 5%;
  right: 30%;
}

